.button {
    width: 100%;
    padding: 10px 20px;
    background-color: #000000;
    border-radius: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #313131;
}
