.flexCen{
    display: flex;
    align-items: center;
    justify-content: center;
    /*width: 200px;*/
}

.loginContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loginContainer::before,
.loginContainer::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    width: 49.85%;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5px rgb(124, 124, 124) inset;
    background-image: url('../../../public/assets/Wallpaper.png');
}

.loginContainer::before {
    left: 0;
    border-radius: 0 80px 0 0;
}

.loginContainer::after {
    right: 0;
    border-radius: 80px 0 0 0;
}

.formContainer{
    display: flex;
    align-items: center;
}

.formWrapper{
    /*background-color: rgba(255, 255, 255, 0.452);*/
    /*border-radius: 20px;*/
    backdrop-filter: blur(3px);
    padding: 60px 80px 180px 80px;
    /*box-shadow: 0px 0px 15px 30px rgba(255, 255, 255, 0.452);*/
    /*filter: blur(8px);*/
    /*-webkit-filter: blur(8px);*/
}

.formWrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 55px;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    opacity: 0.8;
    z-index: -1;
}

.formWrapper > div img{
    width: 80px;
    margin-bottom: 40px;
}

.formContainer > div img{
    width: 120px;
    margin-left: 0px;
    margin-top: 40px;
}

.userContainer{
    width: 290px;
    height: 350px;
    /*background-image: url('../../../public/assets/shap2.svg');*/
    /*background-size: 80% 80%;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.userContainer::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: url('../../../public/assets/shap2.svg');
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.form{
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: flex-start;
}

.formTitle{
    font-size: 25px;
    font-weight: bold;
}