.mainContainer{
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.timeBox{
    color: white;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
}

.dateBox{
    color: #000000;
    font-size: 23px;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
}